<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.AttendanceMapper">
    <resultMap id="AttendanceResultMap" type="com.xmu.cms.entity.Attendance">
        <id property="attendanceId" column="attendanceId" javaType="java.math.BigInteger"/>
        <result property="presentationFile" column="pptUrl"/>
        <result property="reportFile" column="reportUrl"/>
        <association property="team" javaType="com.xmu.cms.entity.Team">
            <id property="teamId" column="teamId"/>
        </association>
        <association property="klass" javaType="com.xmu.cms.entity.Klass">
            <id property="klassId" column="klassId"/>
        </association>
        <association property="seminar" javaType="com.xmu.cms.entity.Seminar">
            <id property="seminarId" column="seminarId"/>
        </association>
    </resultMap>

    <select id="getPresentationsInSeminar" resultMap="AttendanceResultMap">
        SELECT attendance.id as attendanceId,
               attendance.team_id       as teamId,
               seminar_id    as seminarId,
               team_order    as teamOrder,
               ppt_name      as ppt,
               report_name   as report,
               ppt_url     as ppt,
               reprot_url  as report,
               presentaton_score  as presentationScore,
               report_score       as reportScore
        FROM attendance,
             klass_seminar,
             seminar_score
        WHERE klass_seminar.seminar_id = #{seminarId}
          AND klass_seminar.id = attendance.klass_seminar_id
          and klass_seminar.id = seminar_score.klass_seminar_id
        ORDER BY team_order
    </select>
    
    <insert id="newAttendance">
        insert attendance (klass_seminar_id, team_id, team_order, is_present, report_name, reprot_url, ppt_name, ppt_url)
        values (#{klassSeminarId}, #{teamId}, #{teamOrder}, #{present}, #{reportName}, #{reportUrl}, #{pptName}, #{pptUrl})
    </insert>
    
    <delete id="deleteAttendance" parameterType="java.lang.Integer">
        delete 
        from attendance
        where id = #{attendanceId}
    </delete>
</mapper>