<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.AttendanceMapper">
    <select id="getPresentationsInSeminar" resultType="com.xmu.cms.entity.Attendance">
        SELECT attendance.id as attendanceId,
               team_id       as teamId,
               seminar_id    as seminarId,
               team_order    as teamOrder,
               pre_file      as ppt,
               report_name   as report,
               pre_score     as presentationScore,
               report_score  as reportScore
        FROM attendance,
             klass_seminar
        WHERE klass_seminar.seminar_id = #{seminarId}
          AND klass_seminar.id = attendance.klass_seminar_id
        ORDER BY team_order
    </select>

    <update id="setPresentationScore">
        UPDATE attendance
        SET pre_score = #{presentationScore}
        WHERE id = #{attendanceId}
    </update>
</mapper>