<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.AttendanceMapper">
    <resultMap id="AttendanceResultMap" type="com.xmu.cms.entity.Attendance">
        <id property="attendanceId" column="attendanceId" javaType="java.math.BigInteger"/>
        <result property="teamOrder" column="team_order"/>
        <result property="presentationFile" column="ppt_name"/>
        <result property="reportFile" column="report_name"/>
        <result property="present" column="is_present"/>
        <association property="team" javaType="com.xmu.cms.entity.Team">
            <id property="teamId" column="teamId"/>
            <result property="teamName" column="teamName"/>
        </association>
        <association property="klass" javaType="com.xmu.cms.entity.Klass">
            <id property="klassId" column="klassId"/>
        </association>
        <association property="seminar" javaType="com.xmu.cms.entity.Seminar">
            <id property="seminarId" column="seminarId"/>
        </association>
    </resultMap>

    <select id="getAttendancesInSeminar" resultMap="AttendanceResultMap">
        SELECT attendance.id      as attendanceId,
               team_order,
               ppt_name,
               report_name,
               is_present,
               attendance.team_id as teamId,
               klass_id           as klassId,
               seminar_id         as seminarId
        FROM attendance,
             klass_seminar
        WHERE klass_seminar.seminar_id = #{seminarId}
          AND klass_seminar.id = attendance.klass_seminar_id
        ORDER BY team_order
    </select>

    <insert id="newAttendance" parameterType="com.xmu.cms.entity.Attendance">
        insert attendance (klass_seminar_id,
                           team_id,
                           team_order,
                           is_present,
                           report_name,
                           report_url,
                           ppt_name,
                           ppt_url)
        values (#{attendance.klassSeminarId},
                #{attendance.team.teamId},
                #{attendance.teamOrder},
                #{attendance.present},
                #{attendance.reportFile},
                null ,
                #{attendance.presentationFile},
                null )
    </insert>

    <delete id="deleteAttendance" parameterType="java.lang.Integer">
        delete
        from attendance
        where id = #{attendanceId}
    </delete>

    <select id="getStudentAttendanceInKlassSeminar" resultMap="AttendanceResultMap">
        SELECT attendance.id          as attendanceId,
               ppt_name,
               report_name,
               attendance.team_id     as teamId,
               klass_seminar.klass_id as klassId,
               seminar_id             as seminarId
        FROM attendance,
             klass_seminar,
             klass_student
        WHERE klass_seminar.seminar_id = #{seminarId}
          AND klass_seminar.klass_id = #{klassId}
          AND klass_student.student_id = #{studentId}
          AND klass_student.team_id = attendance.team_id
          AND klass_seminar.id = attendance.klass_seminar_id
    </select>

    <select id="getAttendancesInKlassAndSeminar" resultMap="AttendanceResultMap">
        SELECT attendance.id      as attendanceId,
               team_order,
               ppt_name,
               report_name,
               is_present,
               attendance.team_id as teamId,
               team.team_name     as teamName
        FROM attendance,
             klass_seminar,
             team
        WHERE klass_seminar.seminar_id = #{seminarId}
          AND klass_seminar.klass_id = #{klassId}
          AND attendance.klass_seminar_id = klass_seminar.id
          AND team.id = attendance.team_id
    </select>

    <select id="getAttendancesInKlassSeminar" resultMap="AttendanceResultMap">
        SELECT attendance.id      as attendanceId,
               team_order,
               ppt_name,
               report_name,
               is_present,
               attendance.team_id as teamId,
               team.team_name     as teamName
        FROM attendance,
             klass_seminar,
             team
        WHERE klass_seminar.id = #{klassSeminarId}
          AND attendance.klass_seminar_id = klass_seminar.id
          AND team.id = attendance.team_id
    </select>

    <update id="updateAttendancePresent" parameterType="com.xmu.cms.entity.Attendance">
        update attendance
        set is_present = #{attendance.present}
        where id = #{attendance.attendanceId}
    </update>
</mapper>