<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.ConflictCourseStrategyMapper">
    <resultMap id="ConflictCourseResultMap" type="com.xmu.cms.entity.strategy.ConflictCourseStrategy">
        <id property="strategyId" column="conflictCourseId" javaType="java.math.BigInteger"/>
        <collection property="courses" javaType="com.xmu.cms.entity.Course">
            <id property="courseId" column="courseId"/>
            <result property="courseName" column="courseName"/>
            <association property="teacher" javaType="com.xmu.cms.entity.Teacher">
                <id property="teacherId" column="teacherId"/>
                <result property="name" column="TeacherName"/>
            </association>
        </collection>
    </resultMap>

    <select id="getConflictCourseStrategyById" resultMap="ConflictCourseResultMap">
        select course.id as courseOneId,
               course.course_name as courseOneName,
               course.teacher_id  as teacherOneId,
               teacher.teacher_name as teacherOneName
        from conflict_course_strategy,
             course,
             teacher
        where conflict_course_strategy.id = #{conflictCourseId}
          and course.id = course_id
          and teacher.id = course.teacher_id
    </select>

    <insert id="newConflictCourse" parameterType="com.xmu.cms.entity.strategy.ConflictCourseStrategy">
        insert conflict_course_strategy (id, course_id)
        values (#{strategy.strategyId}, #{strategy.course.courseId})
    </insert>

    <delete id="deleteConflictCourse">
        delete
        from conflict_course_strategy
        where id = #{conflictCourseId}
    </delete>

    <select id="getMaxId">
        select max(id)
        from conflict_course_strategy
    </select>
</mapper>