<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.dao.CourseDao">
    <select id="getAllCourseByTeacherId" resultType="com.xmu.cms.entity.Course">
        SELECT course_id          as courseId,
               teacher_id         as teacherId,
               name,
               introduction,
               presetation_weight as presestationWeight,
               report_weight      as reportWeight,
               question_weight    as questionWeight,
               team_start_time    as teamStartTime,
               team_end_time      as teamEndTime
        FROM course
        WHERE teacher_id = #{teacherId}
    </select>

    <select id="getAllCourseByStudentId" resultType="com.xmu.cms.entity.Course">
        SELECT course.course_id   as courseId,
               teacher_id         as teacherId,
               course.name,
               introduction,
               presetation_weight as presestationWeight,
               report_weight      as reportWeight,
               question_weight    as questionWeight,
               team_start_time    as teamStartTime,
               team_end_time      as teamEndTime
        FROM course,
             turning_class_student,
             turning_class
        WHERE student_id = #{studentId}
          AND turning_class.turning_class_id = turning_class_student.turning_class_id
          AND course.course_id = turning_class.course_id
    </select>

    <delete id="deleteCourseById">
        DELETE *
        FROM course
        WHERE course_id = #{courseId}
    </delete>
</mapper>