<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.CourseMemberLimitStrategyMapper">
    <resultMap id="CourseMemberLimitResultMap" type="com.xmu.cms.entity.strategy.CourseMemberLimitStrategy">
        <id property="strategyId" column="strategyId" javaType="java.math.BigInteger"/>
        <result property="minMember" column="min_member"/>
        <result property="maxMember" column="max_member"/>
        <association property="course" javaType="com.xmu.cms.entity.Course">
            <id property="courseId" column="courseId"/>
            <result property="courseName" column="courseName"/>
            <association property="teacher" javaType="com.xmu.cms.entity.Teacher">
                <id property="teacherId" column="teacherId"/>
                <result property="name" column="teacherName"/>
            </association>
        </association>
    </resultMap>

    <select id="getCourseMemberLimitStrategyById" resultMap="CourseMemberLimitResultMap">
        select course_member_limit_strategy.id as strategyId,
               min_member,
               max_member,
               course.id                       as courseId,
               course.course_name              as courseName,
               teacher.id                      as teacherId,
               teacher.teacher_name            as teacherName
        from course_member_limit_strategy,
             course,
             teacher
        where course_member_limit_strategy.id = #{strategyId}
          and course.id = course_member_limit_strategy.course_id
          and teacher_id = teacher.id
    </select>

    <insert id="insertCourseMemberLimitStrategy" parameterType="com.xmu.cms.entity.strategy.CourseMemberLimitStrategy">
        <selectKey keyProperty="strategyId" order="AFTER" resultType="java.lang.Integer">
            select last_insert_id()
        </selectKey>
        insert course_member_limit_strategy (course_id, min_member, max_member)
        VALUES (#{strategy.course.courseId}, #{strategy.minMember}, #{strategy.maxMember})
    </insert>
</mapper>