<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.KlassSeminarMapper">
    <resultMap id="KlassSeminarResultMap" type="com.xmu.cms.entity.KlassSeminar">
        <id property="klassSeminarId" column="klassSeminarId" javaType="java.math.BigInteger"/>
        <result property="reportDDL" column="report_ddl"/>
        <result property="status" column="seminar_status"/>
        <association property="klass" javaType="com.xmu.cms.entity.Klass">
            <id property="klassId" column="klassId"/>
            <result property="grade" column="grade"/>
            <result property="klassSerial" column="klass_serial"/>
        </association>
        <association property="seminar" javaType="com.xmu.cms.entity.Seminar">
            <id property="seminarId" column="seminarId"/>
            <result property="topic" column="seminarName"/>
        </association>
        <association property="selectAttendance" javaType="com.xmu.cms.entity.Attendance">
            <id property="attendanceId" column="attendanceId"/>
        </association>
    </resultMap>

    <select id="getKlassSeminarByKlassAndSeminar" resultMap="KlassSeminarResultMap">
        SELECT klass_seminar.id as klassSeminarId,
               report_ddl,
               seminar_status,
               klass.id         as klassId,
               grade,
               klass_serial,
               seminar.id       as seminarId,
               seminar_name     as seminarName,
               attendance.id    as attendanceId
        FROM klass_seminar,
             klass,
             seminar,
             attendance
        WHERE klass_seminar.klass_id = #{klassId}
          and klass_seminar.seminar_id = #{seminarId}
          and klass.id = #{klassId}
          and seminar.id = #{seminarId}
          and attendance.klass_seminar_id = klass_seminar.id
    </select>

    <delete id="deleteKlassSeminar">
        delete
        from klass_seminar
        where id = #{klassSeminarId}
    </delete>

    <delete id="deleteKlassSeminarScore">
        delete
        from seminar_score
        where klass_seminar_id = #{klassSeminarId}
    </delete>

    <select id="getKlassSeminarBySeminarId" resultMap="KlassSeminarResultMap">
        SELECT klass_seminar.id as klassSeminarId,
               report_ddl,
               seminar_status,
               klass.id         as klassId,
               grade,
               klass_serial,
               seminar.id       as seminarId,
               seminar_name     as seminarName
        FROM klass_seminar,
             klass,
             seminar
        WHERE klass_seminar.seminar_id = #{seminarId}
          AND klass_seminar.klass_id = klass.id
          and seminar.id = #{seminarId}
    </select>

    <select id="getKlassSeminarByStudentAndSeminar" resultMap="KlassSeminarResultMap">
        SELECT klass_seminar.id as klassSeminarId,
               report_ddl,
               seminar_status,
               klass.id         as klassId,
               grade,
               klass_serial,
               seminar.id       as seminarId,
               seminar_name     as seminarName
        FROM klass_seminar,
             klass_student,
             klass,
             seminar
        WHERE klass_student.student_id = #{studentId}
          AND klass_seminar.seminar_id = #{seminarId}
          AND klass_seminar.klass_id = klass_student.klass_id
          and seminar.id = #{seminarId}
    </select>

    <update id="updateKlassSeminar" parameterType="com.xmu.cms.entity.KlassSeminar">
        update klass_seminar
        set klass_id       = #{klassSeminar.klass.klassId},
            seminar_id     = #{klassSeminar.seminar.seminarId},
            report_ddl     = #{klassSeminar.reportDDL},
            seminar_status = #{klassSeminar.status}
        where id = #{klassSeminar.klassSeminarId}
    </update>

    <select id="getRunningKlassSeminarByTeacherId" resultMap="KlassSeminarResultMap">
        SELECT klass_seminar.id as klassSeminarId,
               report_ddl,
               seminar_status,
               klass.id as klassId,
               grade,
               klass_serial,
               seminar.id       as seminarId,
               seminar_name     as seminarName
        FROM klass_seminar,
             klass,
             seminar,
             course
        WHERE course.teacher_id = #{teacherId}
          and klass.course_id = course.id
          and klass_seminar.klass_id = klass.id
          and (klass_seminar.seminar_status = 1 or 3)
          and seminar.id = klass_seminar.seminar_id
    </select>
</mapper>