<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.KlassMapper">
    <resultMap id="KlassResultMap" type="com.xmu.cms.entity.Klass">
        <id property="klassId" column="id" javaType="java.math.BigInteger"/>
        <result property="grade" column="grade" javaType="java.lang.Integer"/>
        <result property="klassSerial" column="klass_serial" javaType="java.lang.Integer"/>
        <result property="klassTime" column="klass_time" javaType="java.lang.String"/>
        <result property="klassPlace" column="klass_location" javaType="java.lang.String"/>
        <association property="course" javaType="com.xmu.cms.entity.Course">
            <id property="courseId" column="courseId"/>
            <result property="courseName" column="courseName"/>
        </association>
    </resultMap>

    <insert id="insertKlass" parameterType="com.xmu.cms.entity.Klass">
        INSERT klass (course_id, grade, klass_serial, klass_time, klass_location)
        VALUE (#{klass.course.courseId}, #{klass.grade}, #{klass.klassSerial}, #{klass.klassTime}, #{klass.klassPlace})
    </insert>

    <delete id="deleteKlassByKlassId" parameterType="java.lang.Integer">
        delete
        from klass
        where id = #{klassId}
    </delete>

    <update id="setKlassTime">
        update klass
        set klass_time = #{klassTime}
        where id = #{klassId}
    </update>

    <update id="setKlassPlace">
        update klass
        set klass_location = #{klassPlace}
        where id = #{klassId}
    </update>
    
    <select id="getKlassByKlassId" resultMap="KlassResultMap">
        select klass.id as klassId,
               grade,
               klass_serial,
               klass_time,
               klass_location,
               course.id  as courseId,
               course_name  as courseName
        from klass,
             course
        where klass.id = #{klassId}
        and course.id = klass.course_id
    </select>

    <insert id="addStudent" parameterType="com.xmu.cms.entity.Student">
        insert klass_student(klass_id, student_id, course_id)
        values (#{klassId}, #{student.studentId}, #{courseId})
    </insert>

    <select id="getKlassesInCourse" resultMap="KlassResultMap">
        select klass.id as klassId,
               grade,
               klass_serial,
               klass_time,
               klass_location
        from klass,
             course
        where klass.course_id = #{courseId}
          and course.id = klass.course_id
    </select>
    
    <select id="getKlassEnrollNumber">
        select klass_id as klassId,
               enroll_number as enrollNumber
        from klass_round
        where round_id = #{roundId}
    </select>

    <delete id="deleteKlassRound">
        delete
        from klass_round
        where klass_id = #{klassId}
          and round_id = #{roundId}
    </delete>

    <update id="addMembers">
        update team_student
        set student_id = #{studentId}
        where team_id = #{teamId}
    </update>

    <delete id="deleteTeamStudent">
        delete
        from team_student
        where team_id = #{teamId}
    </delete>

    <delete id="removeTeamStudent" parameterType="com.xmu.cms.entity.Student">
        delete
        from team_student
        where team_id = #{teamId}
        and student_id = #{student.studentId}
    </delete>

    <insert id="insertKlassRound">
        insert klass_round (klass_id, round_id, enroll_number)
        values (#{klassId}, #{roundId}, #{enrollNumber})
    </insert>

    <select id="getKlassByStudent" resultMap="KlassResultMap">
        select klass.id as klassId,
               grade,
               klass_serial,
               klass_time,
               klass_location,
               course.id  as courseId,
               course_name  as courseName
        from klass,
             klass_student,
             course
        where klass_student.student_id = #{studentId}
          and klass.id = klass_student.klass_id
          and course.id = klass.course_id
    </select>

    <delete id="deleteKlassStudent">
        delete
        from klass_student
        where klass_id = #{klassId}
    </delete>

    <insert id="addKlassRound" parameterType="java.math.BigInteger">
        insert klass_round (klass_id, round_id, enroll_number)
        values (#{klassId}, #{roundId}, 1)
    </insert>
</mapper>