<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.MemberLimitStrategyMapper">
    <resultMap id="CourseMemberLimitResultMap" type="com.xmu.cms.entity.strategy.MemberLimitStrategy">
        <id property="strategyId" column="strategyId" javaType="java.math.BigInteger"/>
        <result property="minMember" column="min_member"/>
        <result property="maxMember" column="max_member"/>
    </resultMap>

    <select id="getMemberLimitStrategyById" resultMap="CourseMemberLimitResultMap">
        select member_limit_strategy.id as strategyId,
               min_member,
               max_member
        from member_limit_strategy
        where member_limit_strategy.id = #{strategyId}
    </select>

    <insert id="insertMemberLimitStrategy" parameterType="com.xmu.cms.entity.strategy.MemberLimitStrategy">
        insert member_limit_strategy (min_member, max_member)
        values (#{strategy.minMember}, #{strategy.maxMember})
        <selectKey keyProperty="strategy.strategyId" order="AFTER" resultType="java.math.BigInteger">
            select last_insert_id()
        </selectKey>
    </insert>
</mapper>