<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.dao.PresentationDao">
    <select id="getPresentationsInSeminar" resultType="com.xmu.cms.entity.Presentation">
        SELECT presentation_id    as presentationId,
               team_id            as teamId,
               seminar_id         as seminarId,
               team_order         as teamOrder,
               ppt,
               report,
               presentation_score as presentationScore,
               report_score       as reportScore
        FROM presentation
        WHERE seminar_id = #{seminarId}
        ORDER BY team_order
    </select>

    <update id="setPresentationScore">
        UPDATE presentation
        SET presentation_score = #{presentationScore}
        WHERE presentation_id = #{presentationId}
    </update>
</mapper>