<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.RoundMapper">
    <resultMap id="RoundResultMap" type="com.xmu.cms.entity.Round">
        <id property="roundId" column="roundId" javaType="java.math.BigInteger"/>
        <result property="courseId" column="courseId"/>
        <result property="roundSerial" column="roundSerial"/>
        <result property="presentationScoreMethod" column="presentationScoreMethod"/>
        <result property="reportScoreMethod" column="reportScoreMethod"/>
        <result property="questionScoreMethod" column="questionScoreMethod"/>
        <association property="course" javaType="com.xmu.cms.entity.Course">
            <id property="courseId" column="courseId"/>
            <result property="courseName" column="courseName"/>
        </association>
    </resultMap>

    <select id="getRoundsByCourseId" resultMap="RoundResultMap">
        SELECT round.id                as roundId,
               course_id               as couseId,
               course.course_name    as courseName,
               round_serial,
               presentation_score_method as presentationScoreType,
               report_score_method       as reportScoreType,
               question_score_method     as questionScoreType
        FROM round,
             course
        WHERE course_id = #{courseId}
        and course.id = course_id
    </select>

    <insert id="newRound">
        insert round (course_id, round_serial, presentation_score_method, report_score_method, question_score_method)
        values (#{courseId}, #{roundSerial}, #{presentationScoreMethod}, #{reportScoreMethod}, #{questionScoreMethod})
    </insert>

    <delete id="deleteRound">
        delete
        from round
        where id = #{roundId}
    </delete>

    <update id="modifyScoreMethod">
        update round
        set presentation_score_method = #{presentationScoreMethod},
            report_score_method = #{reportScoreMethod},
            question_score_method = #{questionScoreMethod}
        where id = #{roundId}
    </update>
</mapper>
