<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.RoundScoreMapper">
    <resultMap id="RoundScoreResultMap" type="com.xmu.cms.entity.RoundScore">
        <result property="presentationScore" column="presentationScore"/>
        <result property="reportScore" column="reportScore"/>
        <result property="questionScore" column="questionScore"/>
        <result property="totalScore" column="totalScore"/>
        <association property="team" javaType="com.xmu.cms.entity.Team">
            <id property="teamName" column="teamName"/>
        </association>
        <association property="round" javaType="com.xmu.cms.entity.Round">
            <id property="roundId" column="roundId"/>
        </association>
    </resultMap>

    <select id="getAllScoresInRound" resultMap="RoundScoreResultMap">
        SELECT team_name         as name,
               presentation_score as presentationScore,
               question_score    as questionScore,
               report_score      as reportScore,
               total_score       as totalScore
        FROM round_score,
             team
        WHERE round_score.round_id = #{roundId}
          AND team.id = round_score.team_id
    </select>

    <update id="modifyScoreInRound">
        update round_score,team
        set presentation_score = #{presentationScore},
            question_score = #{questionScore},
            report_score = #{reportScore}
        where round_score.round_id = #{roundId}
        and team.id = round_score.team_id
    </update>

    <update id="modifyScoreInSeminar">
        update seminar_score,team
        set presentaton_score = #{presentationScore},
            question_score = #{questionScore},
            report_score = #{reportScore}
        WHERE klass_seminar_id = #{classSeminarId}
          AND team.id = seminar_score.team_id
    </update>

    <insert id="newScoreInRound">
        insert into round_score (team_id, round_id, presentation_score, report_score, question_score, total_score)
        values (#{teamId}, #{roundId}, #{presentationScore}, #{reportScore}, #{questionScore}, #{totalScore})
    </insert>

    <insert id="newScoreInSeminar">
        insert into seminar_score (team_id, klass_seminar_id, presentaton_score, report_score, question_score, total_score)
        values (#{teamId}, #{classSeminarId}, #{presentationScore}, #{reportScore}, #{questionScore}, #{totalScore})
    </insert>


</mapper>