<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.RoundMapper">
    <resultMap id="RoundResultMap" type="com.xmu.cms.entity.Round">
        <id property="roundId" column="roundId" javaType="java.math.BigInteger"/>
        <result property="order" column="round_serial"/>
        <result property="presentationScoreType" column="presentationScoreType"/>
        <result property="reportScoreType" column="reportScoreType"/>
        <result property="questionScoreType" column="questionScoreType"/>
        <association property="course" javaType="com.xmu.cms.entity.Course">
            <id property="courseId" column="courseId"/>
            <result property="courseName" column="courseName"/>
        </association>
    </resultMap>

    <select id="getRoundsByCourseId" resultMap="RoundResultMap">
        SELECT round.id                as roundId,
               round_serial,
               presentation_score_method as presentationScoreType,
               report_score_method       as reportScoreType,
               question_score_method     as questionScoreType
        FROM round
        WHERE course_id = #{courseId}
    </select>

    <select id="getRoundByRoundId" resultMap="RoundResultMap">
        SELECT round.id                as roundId,
               course_id               as couseId,
               course.course_name    as courseName,
               round_serial,
               presentation_score_method as presentationScoreType,
               report_score_method       as reportScoreType,
               question_score_method     as questionScoreType
        FROM round,
             course
        WHERE round.id = #{roundId}
          and course.id = round.course_id
    </select>

    <insert id="insertRound" parameterType="com.xmu.cms.entity.Round">
        <selectKey keyProperty="roundId" order="AFTER" resultType="java.lang.Integer">
            select last_insert_id()
        </selectKey>
        insert round (course_id, round_serial, presentation_score_method, report_score_method, question_score_method)
        values (#{round.course.courseId}, #{round.order}, #{round.presentationScoreType}, #{round.reportScoreType}, #{round.questionScoreType})
    </insert>

    <delete id="deleteRoundByRoundId">
        delete
        from round
        where id = #{roundId}
    </delete>

    <update id="updateCalType" parameterType="com.xmu.cms.entity.Round">
        update round
        set presentation_score_method = #{round.presentationScoreType},
            report_score_method = #{round.reportScoreType},
            question_score_method = #{round.questionScoreType}
        where id = #{round.roundId}
    </update>

    <delete id="deleteRoundScore">
        delete
        from round_score
        where round_id = #{roundId}
    </delete>

    <select id="getRoundBySeminar" resultMap="RoundResultMap">
        SELECT round.id                as roundId,
               round.course_id               as couseId,
               course.course_name    as courseName,
               round_serial,
               presentation_score_method as presentationScoreType,
               report_score_method       as reportScoreType,
               question_score_method     as questionScoreType
        FROM round,
             course,
             seminar
        WHERE seminar.id = #{seminarId}
          and round.id = seminar.round_id
          and course.id = round.course_id
    </select>

    <select id="getRoundByKlassSeminarId" resultMap="RoundResultMap">
        SELECT round.id                as roundId,
               round.course_id               as couseId,
               course.course_name    as courseName,
               round_serial,
               presentation_score_method as presentationScoreType,
               report_score_method       as reportScoreType,
               question_score_method     as questionScoreType
        FROM round,
             course,
             seminar,
             klass_seminar
        WHERE klass_seminar.id = #{klassSeminarId}
          and seminar.id = klass_seminar.seminar_id
          and round.id = seminar.round_id
          and course.id = round.course_id
    </select>
</mapper>
