<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.dao.ScoreDao">
    <select id="getAllScoreInSeminar" resultType="com.xmu.cms.entity.Score">
        SELECT team.team_name    as name,
               presetation_score as presentationScore,
               question_score    as questionScore,
               report_score      as reportScore
        FROM seminar_score,
             team
        WHERE seminar_id = #{seminarId}
          AND turning_class_id = #{turningClassId}
          AND team.team_id = seminar_score.team_id
    </select>

    <select id="getAllScoresInRound" resultType="com.xmu.cms.entity.Score">
        SELECT team_name         as name,
               presetation_score as presentationScore,
               question_score    as questionScore,
               report_score      as reportScore
        FROM round_score,
             team
        WHERE round_score.round_id = #{roundId}
          AND team.team_id = round_score.team_id
    </select>

    <update id="modifyScoreInRound">
        update round_score
        set presetation_score = #{presentationScore},
            question_score = #{questionScore},
            report_score = #{reportScore}
        where round_score.round_id = #{roundId}
        and team.team_id = round_score.team_id
    </update>

    <update id="modifyScoreInSeminar">
        update seminar_score
        set presetation_score = #{presentationScore},
            question_score = #{questionScore},
            report_score = #{reportScore}
        WHERE seminar_id = #{seminarId}
          AND turning_class_id = #{turningClassId}
          AND team.team_id = seminar_score.team_id
    </update>

    <insert id="newScoreInRound">
        insert into round_score (team_id, turning_class_id, round_id, presetation_score, report_score, question_score, total_score)
        values (#{teamId}, #{turningClassId}, #{roundId}, #{presentationScore}, #{reportScore}, #{questionScore}, #{totalScore})
    </insert>

    <insert id="newScoreInSeminar">
        insert into seminar_score (team_id, turning_class_id, seminar_id, presetation_score, report_score, question_score, total_score)
        values (#{teamId}, #{turningClassId}, #{seminarId}, #{presentationScore}, #{reportScore}, #{questionScore}, #{totalScore})
    </insert>
</mapper>