<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.SeminarScoreMapper">
    <resultMap id="SeminarScoreResultMap" type="com.xmu.cms.entity.SeminarScore">
        <result property="presentationScore" column="presentationScore"/>
        <result property="reportScore" column="reportScore"/>
        <result property="questionScore" column="questionScore"/>
        <result property="totalScore" column="totalScore"/>
        <association property="team" javaType="com.xmu.cms.entity.Team">
            <id property="teamId" column="teamId"/>
            <result property="teamName" column="teamName"/>
        </association>
        <association property="klassSeminar" javaType="com.xmu.cms.entity.KlassSeminar">
            <id property="klassSeminarId" column="klassSeminarId"/>
        </association>
    </resultMap>

    <select id="getAllScoresInSeminar" resultMap="SeminarScoreResultMap">
        SELECT team.team_name     as teamName,
               team_id            as teamId,
               presentation_score as presentationScore,
               question_score     as questionScore,
               report_score       as reportScore,
               total_score        as totalScore
        FROM seminar_score,
             team,
             klass_seminar
        WHERE klass_seminar_id = #{klassSeminarId}
          AND team.id = seminar_score.team_id
          and klass_seminar.id = klass_seminar_id
    </select>

    <update id="modifyScoreInSeminar">
        update seminar_score, team
        set presentation_score = #{presentationScore},
            question_score     = #{questionScore},
            report_score       = #{reportScore}
        WHERE klass_seminar_id = #{classSeminarId}
          AND team.id = seminar_score.team_id
    </update>

    <insert id="newScoreInSeminar">
        insert into seminar_score (team_id,
                                   klass_seminar_id,
                                   presentation_score,
                                   report_score,
                                   question_score,
                                   total_score)
        values (#{teamId}, #{classSeminarId}, #{presentationScore}, #{reportScore}, #{questionScore}, #{totalScore})
    </insert>

    <delete id="deleteSeminarScore">
        delete
        from seminar_score
        where klass_seminar_id = #{klassSeminarId}
          and team_id = #{teamId}
    </delete>

    <select id="getTeamSeminarScoreInRound" resultMap="SeminarScoreResultMap">
        SELECT presentation_score as presentationScore,
               question_score     as questionScore,
               report_score       as reportScore,
               total_score        as totalScore
        FROM seminar_score,
             klass_seminar,
             seminar
        WHERE seminar.round_id = #{roundId}
          AND seminar_score.team_id = #{teamId}
          AND seminar.id = klass_seminar.seminar_id
          AND klass_seminar.id = seminar_score.klass_seminar_id
    </select>
</mapper>