<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.dao.SeminarTurningClassDao">
    <insert id="newSeminarTurningClass">
        INSERT seminar_turning_class (seminar_id,
                                      turning_class_id,
                                      max_team_num,
                                      round_id,
                                      sign_start_time,
                                      sign_end_time,
                                      # report_end_time,
                                      status,
                                      sign_order)
        VALUE (#{seminrId},
               #{turningClassId},
               #{roundId},
               #{maxTeamNum},
               #{signStartTime},
               #{signEndTime},
               0,
               #{signOrder})
    </insert>

    <update id="modifySeminarTurningClass">
        UPDATE seminar_turning_class
        SET round_id        = #{roundId},
            max_team_num    = #{maxTeamNum},
            sign_start_time = #{signStartTime},
            sign_end_time   = #{signEndTime}
        WHERE seminar_id = #{seminarId}
          AND turning_class_id = #{turningClassId}
    </update>

    <update id="startSeminarTurningClass">
        UPDATE seminar_turning_class
        SET status = 1
        WHERE seminar_id = #{seminarId}
          AND turning_class_id = #{turningClassId}
    </update>

    <update id="stopSeminarTurningClass">
        UPDATE seminar_turning_class
        SET status = 2
        WHERE seminar_id = #{seminarId}
          AND turning_class_id = #{turningClassId}
    </update>

    <update id="endSeminarTurningClass">
        UPDATE seminar_turning_class
        SET status = 3
        WHERE seminar_id = #{seminarId}
          AND turning_class_id = #{turningClassId}
    </update>
</mapper>