<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.SeminarMapper">
    <resultMap id="SeminarResultMap" type="com.xmu.cms.entity.Seminar">
        <id property="seminarId" column="seminarId" javaType="java.lang.Integer"/>
        <result property="topic" column="topic"/>
        <result property="introduction" column="introduction"/>
        <result property="maxTeamNum" column="maxTeamNum"/>
        <result property="visible" column="visible"/>
        <result property="signOrder" column="signOrder"/>
        <result property="signStartTime" column="signStartTime"/>
        <result property="signEndTime" column="signEndTime"/>
        <association property="course" javaType="com.xmu.cms.entity.Course">
            <id property="courseId" column="courseId"/>
            <result property="courseName" column="courseName"/>
        </association>
        <association property="round" javaType="com.xmu.cms.entity.Round">
            <id property="roundId" column="roundId"/>
        </association>
    </resultMap>

    <insert id="insertSeminar" parameterType="com.xmu.cms.entity.Seminar">
        INSERT seminar (course_id, round_id, seminar_name, introduction, max_team, is_visible, seminar_serial, enroll_start_time, enroll_end_time)
        VALUE (#{seminar.course.courseId},
               #{seminar.round.roundId},
               #{seminar.topic},
               #{seminar.introduction},
               #{seminar.maxTeamNum},
               #{seminar.visible},
               #{seminar.signOrder},
               #{seminar.signStartTime},
               #{seminar.signEndTime})
    </insert>

    <update id="modifySeminar" parameterType="com.xmu.cms.entity.Seminar">
        UPDATE seminar
        SET course_id         = #{seminar.course.courseId},
            round_id          = #{seminar.round.roundId},
            seminar_name      = #{seminar.topic},
            introduction      = #{seminar.introduction},
            max_team          = #{seminar.maxTeamNum},
            is_visible        = #{seminar.visible},
            seminar_serial    = #{seminar.signOrder},
            enroll_start_time = #{seminar.signStartTime},
            enroll_end_time   = #{seminar.signEndTime}
        WHERE id = #{seminar.seminarId}
    </update>

    <update id="startSeminar">
        UPDATE klass_seminar
        SET seminar_status = 1
        WHERE id = #{klassSeminarId}
    </update>

    <update id="stopSeminar">
        UPDATE klass_seminar
        SET seminar_status = 2
        WHERE id = #{klassSeminarId}
    </update>

    <update id="endSeminar">
        UPDATE klass_seminar
        SET seminar_status = 3
        WHERE id = #{klassSeminarId}
    </update>

    <select id="getSeminarBySeminarId" resultMap="SeminarResultMap">
        SELECT seminar.id as seminarId,
               seminar_name as topic,
               seminar.introduction as introduction,
               max_team as maxTeamNum,
               is_visible as visible,
               seminar_serial as signOrder,
               enroll_end_time as signEndTime,
               enroll_start_time as signStartTime,
               course.id as courseId,
               course_name as courseName,
               round_id as roundId
        FROM seminar,
             course
        where seminar.id = #{seminarId}
    </select>

    <select id="getAllSeminarByRoundId" resultMap="SeminarResultMap">
        SELECT seminar.id as seminarId,
               seminar_name as topic,
               seminar.introduction as introduction,
               max_team as maxTeamNum,
               is_visible as visible,
               seminar_serial as signOrder,
               enroll_end_time as signEndTime,
               enroll_start_time as signStartTime,
               course.id as courseId,
               course_name as courseName,
               round_id as roundId
        FROM seminar,
             course
        where seminar.round_id = #{roundId}
    </select>

    <select id="getAllSeminarByCourseId" resultMap="SeminarResultMap">
        SELECT seminar.id as seminarId,
               seminar_name as topic,
               seminar.introduction as introduction,
               max_team as maxTeamNum,
               is_visible as visible,
               seminar_serial as signOrder,
               enroll_end_time as signEndTime,
               enroll_start_time as signStartTime,
               course.id as courseId,
               course_name as courseName,
               round_id as roundId
        FROM seminar,
             course
        where seminar.course_id = #{courseId}
    </select>

    <delete id="deleteSeminar">
        delete
        from seminar
        where id = #{seminarId}
    </delete>
</mapper>