<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.SeminarScoreMapper">
    <resultMap id="SeminarScoreResultMap" type="com.xmu.cms.entity.SeminarScore">
        <result property="presentationScore" column="presentationScore"/>
        <result property="reportScore" column="reportScore"/>
        <result property="questionScore" column="questionScore"/>
        <result property="totalScore" column="totalScore"/>
        <association property="team" javaType="com.xmu.cms.entity.Team">
            <id property="teamId" column="teamId"/>
            <result property="teamName" column="teamName"/>
        </association>
        <association property="klassSeminar" javaType="com.xmu.cms.entity.KlassSeminar">
            <id property="klassSeminarId" column="klassSeminarId"/>
        </association>
        <association property="seminar" javaType="com.xmu.cms.entity.Seminar">
            <id property="seminarId" column="seminarId"/>
            <id property="topic" column="seminarName"/>
        </association>
    </resultMap>

    <select id="getSeminarScoreInSeminar" resultMap="SeminarScoreResultMap">
        SELECT team.team_name     as teamName,
               team_id            as teamId,
               presentation_score as presentationScore,
               question_score     as questionScore,
               report_score       as reportScore,
               total_score        as totalScore
        FROM seminar_score,
             team,
             klass_seminar
        WHERE klass_seminar.seminar_id = #{seminarId}
          and klass_seminar_id = klass_seminar.id
          AND team.id = seminar_score.team_id
    </select>

    <update id="modifyTeamSeminarScore" parameterType="com.xmu.cms.entity.SeminarScore">
        update seminar_score, team
        set presentation_score = #{seminarScore.presentationScore},
            question_score     = #{seminarScore.questionScore},
            report_score       = #{seminarScore.reportScore}
        WHERE klass_seminar_id = #{seminarScore.klassSeminar.klassSeminarId}
          AND team.id = #{seminarScore.team.teamId}
    </update>

    <insert id="newScoreInSeminar">
        insert into seminar_score (team_id,
                                   klass_seminar_id,
                                   presentation_score,
                                   report_score,
                                   question_score,
                                   total_score)
        values (#{teamId}, #{classSeminarId}, #{presentationScore}, #{reportScore}, #{questionScore}, #{totalScore})
    </insert>

    <delete id="deleteSeminarScore">
        delete
        from seminar_score
        where klass_seminar_id = #{klassSeminarId}
          and team_id = #{teamId}
    </delete>

    <select id="getTeamSeminarScoreInRound" resultMap="SeminarScoreResultMap">
        SELECT presentation_score as presentationScore,
               question_score     as questionScore,
               report_score       as reportScore,
               total_score        as totalScore,
               seminar_id         as seminarId,
               seminar_name       as seminarName
        FROM seminar_score,
             klass_seminar,
             seminar
        WHERE seminar.round_id = #{roundId}
          AND seminar_score.team_id = #{teamId}
          AND seminar.id = klass_seminar.seminar_id
          AND klass_seminar.id = seminar_score.klass_seminar_id
    </select>

    <update id="updateReportScore" parameterType="com.xmu.cms.entity.SeminarScore">
        update seminar_score
        set report_score = #{seminarScore.reportScore}
        where klass_seminar_id = #{seminarScore.klassSeminar.klassSeminarId}
          and team_id = #{seminarScore.team.teamId}
    </update>

    <update id="updatePresentationScore" parameterType="com.xmu.cms.entity.SeminarScore">
        update seminar_score
        set presentation_score = #{seminarScore.presentationScore}
        where klass_seminar_id = #{seminarScore.klassSeminar.klassSeminarId}
          and team_id = #{seminarScore.team.teamId}
    </update>

    <select id="getSeminarTeamScore" resultMap="SeminarScoreResultMap">
        SELECT team.team_name     as teamName,
               team_id            as teamId,
               presentation_score as presentationScore,
               question_score     as questionScore,
               report_score       as reportScore,
               total_score        as totalScore
        FROM seminar_score,
             team,
             klass_seminar
        WHERE seminar_id = #{seminarId}
          and seminar_score.team_id = #{teamId}
          and klass_seminar_id = klass_seminar.id
          AND team.id = seminar_score.team_id
    </select>

    <update id="updateQuestionScore">
        UPDATE seminar_score
        SET question_score = #{question.score}
        WHERE team_id = #{question.team.teamId}
          AND klass_seminar_id = #{question.klassSeminar.klassSeminarId}
    </update>
</mapper>