<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.dao.SeminarDao">
    <insert id="newSeminar">
        INSERT seminar (seminar_id,
                        turning_class_id,
                        max_team_num,
                        round_id,
                        sign_start_time,
                        sign_end_time,
                        # report_end_time,
                        status,
                        sign_order)
        VALUE (#{seminrId},
               #{turningClassId},
               #{roundId},
               #{maxTeamNum},
               #{signStartTime},
               #{signEndTime},
               0,
               #{signOrder})
    </insert>

    <update id="modifySeminar">
        UPDATE seminar
        SET round_id        = #{roundId},
            max_team_num    = #{maxTeamNum},
            sign_start_time = #{signStartTime},
            sign_end_time   = #{signEndTime}
        WHERE seminar_id = #{seminarId}
          AND turning_class_id = #{turningClassId}
    </update>

    <update id="startSeminar">
        UPDATE seminar
        SET status = 1
        WHERE seminar_id = #{seminarId}
          AND turning_class_id = #{turningClassId}
    </update>

    <update id="stopSeminar">
        UPDATE seminar
        SET status = 2
        WHERE seminar_id = #{seminarId}
          AND turning_class_id = #{turningClassId}
    </update>

    <update id="endSeminar">
        UPDATE seminar
        SET status = 3
        WHERE seminar_id = #{seminarId}
          AND turning_class_id = #{turningClassId}
    </update>

    <select id="getSeminar" resultType="com.xmu.cms.entity.Seminar">
        SELECT seminar_id       as seminarId,
               turning_class_id as turningClassId,
               round_id         as roundId,
               max_team_num     as maxTeamNum,
               sign_start_time  as signStartTime,
               sign_end_time    as signEndTime,
               report_end_time  as reportEndTime,
               status,
               presentation_no  as presentationNo,
               sign_order       as signOrder
        FROM seminar
        WHERE seminar_id = #{seminarId}
          AND turning_class_id = #{turningClassId}
    </select>
</mapper>