<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.ShareTeamMapper">
    <resultMap id="ShareTeamResultMap" type="com.xmu.cms.entity.ShareTeam">
        <id property="shareTeamId" column="shareId" javaType="java.math.BigInteger"/>
        <result property="status" column="status"/>
        <association property="masterCourse" javaType="com.xmu.cms.entity.Course">
            <id property="courseId" column="masterCourseId"/>
            <result property="courseName" column="masterCourseName"/>
        </association>
        <association property="receiveCourse" javaType="com.xmu.cms.entity.Course">
            <id property="courseId" column="receiveCourseId"/>
            <result property="courseName" column="receiveCourseName"/>
        </association>
        <association property="masterTeacher" javaType="com.xmu.cms.entity.Teacher">
            <id property="teacherId" column="masterTeacherId"/>
            <result property="name" column="masterTeacherName"/>
            <result property="email" column="masterTeacherEmail"/>
        </association>
        <association property="receiveTeacher" javaType="com.xmu.cms.entity.Teacher">
            <id property="teacherId" column="receiveTeacherId"/>
            <result property="name" column="receiveTeacherName"/>
            <result property="email" column="receiveTeacherEmail"/>
        </association>
    </resultMap>

    <select id="getTeamShare" resultMap="ShareTeamResultMap">
        select share_team_application.id as shareId,
               course1.id as masterCourseId,
               course1.course_name as masterCourseName,
               teacher1.id                   as masterTeacherId,
               teacher1.teacher_name         as masterTeacherName,
               teacher1.email                as masterTeacherEmail,
               course2.id as receiveCourseId,
               course2.course_name as receiveCourseName,
               teacher2.id as receiveTeacherId,
               teacher2.teacher_name as receiveTeacherName,
               teacher2.email as receiveTeacherEmail,
               status
        from share_team_application,
             course course1,
             course course2,
             teacher teacher1,
             teacher teacher2
        where share_team_application.id = #{shareId}
          and course1.id = share_team_application.main_course_id
          and course2.id = share_team_application.sub_course_id
          and teacher2.id = course2.teacher_id
          and teacher1.id = course1.teacher_id
    </select>

    <insert id="insertShareTeam" parameterType="com.xmu.cms.entity.ShareTeam">
        <selectKey keyProperty="shareTeamId" order="AFTER" resultType="java.lang.Integer">
            select last_insert_id()
        </selectKey>
        insert share_team_application (main_course_id, sub_course_id, sub_course_teacher_id, status)
        values (#{shareTeam.masterCourse.courseId}, #{shareTeam.receiveCourse.courseId}, #{shareTeam.receiveTeacher.teacherId}, #{shareTeam.status})
    </insert>

    <delete id="deleteShareTeamByCourseId">
        delete
        from share_team_application
        where main_course_id = #{courseId}
          or sub_course_id = #{courseId}
    </delete>

    <delete id="deleteShareTeam">
        delete
        from share_team_application
        where id = #{shareId}
    </delete>

    <update id="setTeamShareStatus">
        update share_seminar_application
        set status= #{status}
        where id = #{shareId}
    </update>

    <select id="getShareInCourse" resultMap="ShareTeamResultMap">
        select share_team_application.id as shareId,
               course1.id as masterCourseId,
               course1.course_name as masterCourseName,
               teacher1.id                   as masterTeacherId,
               teacher1.teacher_name         as masterTeacherName,
               teacher1.email                as masterTeacherEmail,
               course2.id as receiveCourseId,
               course2.course_name as receiveCourseName,
               teacher2.id as receiveTeacherId,
               teacher2.teacher_name as receiveTeacherName,
               teacher2.email as receiveTeacherEmail,
               status
        from share_team_application,
             course course1,
             course course2,
             teacher teacher1,
             teacher teacher2
        where (main_course_id = #{courseId} or sub_course_id = #{courseId})
          and course1.id = share_team_application.main_course_id
          and course2.id = share_team_application.sub_course_id
          and teacher2.id = course2.teacher_id
          and teacher1.id = course1.teacher_id
    </select>

    <select id="getShareTeamByTwoCourse" resultMap="ShareTeamResultMap">
        select share_team_application.id as shareId,
               course1.id as masterCourseId,
               course1.course_name as masterCourseName,
               course2.id as receiveCourseId,
               course2.course_name as receiveCourseName,
               teacher.id as receiveTeacherId,
               teacher.teacher_name as receiveTeacherName,
               teacher.email as receiveTeacherEmail,
               status
        from share_team_application,
             course course1,
             course course2,
             teacher
        where share_team_application.main_course_id = #{masterCourseId}
          and share_team_application.sub_course_id = #{receiveCourseId}
          and course1.id = share_team_application.main_course_id
          and course2.id = share_team_application.sub_course_id
          and teacher.id = course2.teacher_id
    </select>

    <select id="getShareTeamByTeacherId" resultMap="ShareTeamResultMap">
        select share_team_application.id as shareId,
               course1.id as masterCourseId,
               course1.course_name as masterCourseName,
               course2.id as receiveCourseId,
               course2.course_name as receiveCourseName,
               teacher.id as receiveTeacherId,
               teacher.teacher_name as receiveTeacherName,
               teacher.email as receiveTeacherEmail,
               status
        from share_team_application,
             course course1,
             course course2,
             teacher
        where share_team_application.sub_course_teacher_id = #{teacherId}
          and course1.id = share_team_application.main_course_id
          and course2.id = share_team_application.sub_course_id
          and teacher.id = course2.teacher_id
    </select>
</mapper>