<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.ShareSeminarMapper">
    <resultMap id="ShareSeminarResultMap" type="com.xmu.cms.entity.ShareSeminar">
        <id property="shareSeminarId" column="shareId" javaType="java.math.BigInteger"/>
        <result property="status" column="status"/>
        <association property="masterCourse" javaType="com.xmu.cms.entity.Course">
            <id property="courseId" column="masterCourseId"/>
            <result property="courseName" column="masterCourseName"/>
        </association>
        <association property="receiveCourse" javaType="com.xmu.cms.entity.Course">
            <id property="courseId" column="receiveCourseId"/>
            <result property="courseName" column="receiveCourseName"/>
        </association>
        <association property="receiveTeacher" javaType="com.xmu.cms.entity.Teacher">
            <id property="teacherId" column="receiveTeacherId"/>
            <result property="name" column="receiveTeacherName"/>
            <result property="email" column="receiveTeacherEmail"/>
        </association>
    </resultMap>

    <select id="getShareSeminar" resultMap="ShareSeminarResultMap">
        select share_seminar_application.id as shareId,
               course1.id as masterCourseId,
               course1.course_name as masterCourseName,
               course2.id as receiveCourseId,
               course2.course_name as receiveCourseName,
               teacher.id as receiveTeacherId,
               teacher.teacher_name as receiveTeacherName,
               teacher.email as receiveTeacherEmail,
               status
        from share_seminar_application,
             course course1,
             course course2,
             teacher
        where share_seminar_application.id = #{shareId}
          and course1.id = share_seminar_application.main_course_id
          and course2.id = share_seminar_application.sub_course_id
          and teacher.id = course2.teacher_id
    </select>

    <insert id="insertShareSeminar" parameterType="com.xmu.cms.entity.ShareSeminar">
        insert share_seminar_application (main_course_id, sub_course_id, sub_course_teacher_id, status)
        values (#{shareSeminar.masterCourse.courseId}, #{shareSeminar.receiveCourse.courseId}, #{shareSeminar.receiveTeacher.teacherId}, #{shareSeminar.status})
    </insert>

    <delete id="deleteShareSeminar">
        delete
        from share_seminar_application
        where id = #{shareId}
    </delete>

    <update id="updateShareSeminar" parameterType="com.xmu.cms.entity.ShareSeminar">
        update share_seminar_application
        set status= #{shareSeminar.status}
        where id = #{shareSeminar.shareSeminarId}
    </update>

    <delete id="deleteShareSeminarByCourseId">
        delete
        from share_seminar_application
        where sub_course_id = #{courseId} or main_course_id = #{courseId}
    </delete>

    <select id="getShareSeminarInCourse" resultMap="ShareSeminarResultMap">
        select share_seminar_application.id as shareId,
               course1.id as masterCourseId,
               course1.course_name as masterCourseName,
               course2.id as receiveCourseId,
               course2.course_name as receiveCourseName,
               teacher.id as receiveTeacherId,
               teacher.teacher_name as receiveTeacherName,
               teacher.email as receiveTeacherEmail,
               status
        from share_seminar_application,
             course course1,
             course course2,
             teacher,
             course
        where (share_seminar_application.sub_course_id = #{courseId} or main_course_id = #{courseId})
          and course1.id = share_seminar_application.main_course_id
          and course2.id = share_seminar_application.sub_course_id
          and teacher.id = course2.teacher_id
    </select>

    <select id="getShareSeminarByTwoCourse" resultMap="ShareSeminarResultMap">
        select share_seminar_application.id as shareId,
               course1.id as masterCourseId,
               course1.course_name as masterCourseName,
               course2.id as receiveCourseId,
               course2.course_name as receiveCourseName,
               teacher.id as receiveTeacherId,
               teacher.teacher_name as receiveTeacherName,
               teacher.email as receiveTeacherEmail,
               status
        from share_seminar_application,
             course course1,
             course course2,
             teacher
        where share_seminar_application.main_course_id = #{masterCourseId}
          and share_seminar_application.sub_course_id = #{receiveCourseId}
          and course1.id = share_seminar_application.main_course_id
          and course2.id = share_seminar_application.sub_course_id
          and teacher.id = course2.teacher_id
    </select>

    <select id="getShareSeminarByTeacher" resultMap="ShareSeminarResultMap">
        select share_seminar_application.id as shareId,
               course1.id as masterCourseId,
               course1.course_name as masterCourseName,
               course2.id as receiveCourseId,
               course2.course_name as receiveCourseName,
               teacher.id as receiveTeacherId,
               teacher.teacher_name as receiveTeacherName,
               teacher.email as receiveTeacherEmail,
               status
        from share_seminar_application,
             course course1,
             course course2,
             teacher,
             course
        where share_seminar_application.sub_course_teacher_id = #{teacherId}
          and course1.id = share_seminar_application.main_course_id
          and course2.id = share_seminar_application.sub_course_id
          and teacher.id = course2.teacher_id
          and share_seminar_application.status is null
    </select>
</mapper>