<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.StudentMapper">
    <resultMap id="StudentResultMap" type="com.xmu.cms.entity.Student">
        <id property="studentId" column="id"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="name" column="teacher_name"/>
        <result property="activation" column="is_active"/>
    </resultMap>

    <select id="getAllStudents" resultType="com.xmu.cms.entity.Student">
        SELECT id           as studentId,
               student_num  as account,
               password,
               email,
               student_name,
               phone,
               msg_interval as messageInterval,
               is_activated as activation
        FROM student
    </select>

    <insert id="insertStudent" parameterType="com.xmu.cms.entity.Student">
        INSERT INTO student (student_num, password, email, student_name, msg_interval, is_activated)
        VALUE (#{student.account},
               #{student.password},
               #{student.email},
               #{student.courseName},
               #{student.messageInterval},
               #{student.activation})
    </insert>

    <update id="updateStudent" parameterType="com.xmu.cms.entity.Student">
        UPDATE student
        SET student_num  = #{student.account},
            password     = #{student.password},
            email        = #{student.email},
            student_name = #{student.courseName},
            phone        = #{student.phone},
            msg_interval = #{student.messageInterval},
            is_activated = #{student.activation}
        WHERE id = #{student.studentId}
    </update>


    <delete id="deleteStudent" parameterType="java.lang.Integer">
        DELETE
        FROM student
        WHERE id = #{studentId}
    </delete>

    <select id="getStudentByAccount" resultType="com.xmu.cms.entity.Student">
        SELECT id           as studentId,
               student_num  as account,
               password,
               email,
               student_name,
               phone,
               msg_interval as messageInterval,
               is_activated as activation
        FROM student
        WHERE student_num = #{account}
    </select>

    <select id="getStudentById" resultType="com.xmu.cms.entity.Student">
        SELECT id           as studentId,
               student_num  as account,
               password,
               email,
               student_name,
               phone,
               msg_interval as messageInterval,
               is_activated as activation
        FROM student
        WHERE id = #{studentId}
    </select>

    <select id="getStudentByName" resultType="com.xmu.cms.entity.Student">
        SELECT id           as studentId,
               student_num  as account,
               password,
               email,
               student_name,
               phone,
               msg_interval as messageInterval,
               is_activated as activation
        FROM student
        WHERE student_name = #{name}
    </select>

    <select id="getIdByAccount" resultType="java.lang.Integer">
        SELECT id as studentId
        FROM student
        WHERE student_num = #{account}
    </select>

</mapper>