<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.dao.StudentDao">

    <select id="getAllStudents" resultType="com.xmu.cms.entity.Student">
        SELECT id       as studentId,
               student_num as account,
               password,
               email,
               student_name,
               phone,
               msg_interval as messageInterval,
               is_activated as activation
        FROM student
    </select>

    <insert id="newStudent" parameterType="com.xmu.cms.entity.Student">
        INSERT INTO student (student_num, password, email, student_name, message_interval, is_activated)
        VALUE (#{account}, #{password}, #{email}, #{name}, #{messageInterval}, #{activation})
    </insert>

    <update id="modifyStudentByStudentId">
        UPDATE student
        SET name    = #{name},
            student_num = #{account},
            email   = #{email}
        WHERE id = #{studentId}
    </update>

    <update id="modifyStudentPasswordByStudentId">
        UPDATE student
        SET password = #{password}
        WHERE id = #{studentId}
    </update>

    <delete id="deleteStudentByStudentId" parameterType="java.lang.Integer">
        DELETE
        FROM student
        WHERE id = #{studentId}
    </delete>

    <select id="getStudentByAccount" parameterType="com.xmu.cms.entity.Student">
        SELECT id       as studentId,
               student_num as account,
               password,
               email,
               student_name,
               phone,
               msg_interval as messageInterval,
               is_activated as activation
        FROM student
        WHERE student_num = #{account}
    </select>

    <select id="getStudentByName" resultType="com.xmu.cms.entity.Student">
        SELECT id       as studentId,
               student_num as account,
               password,
               email,
               student_name,
               phone,
               msg_interval as messageInterval,
               is_activated as activation
        FROM student
        WHERE student_name = #{name}
    </select>

    <select id="getIdByAccount" resultType="java.lang.Integer">
        SELECT id as studentId
        FROM student
        WHERE student_num = #{account}
    </select>

    <select id="getEmailByAccount" resultType="java.lang.String">
        select email
        from student
        where student_num = #{account}
    </select>
</mapper>