<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.StudentMapper">
    <resultMap id="StudentResultMap" type="com.xmu.cms.entity.Student">
        <id property="studentId" column="id" javaType="java.math.BigInteger"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="name" column="student_name"/>
        <result property="email" column="email"/>
        <result property="activation" column="is_active"/>
    </resultMap>

    <select id="getAllStudents" resultMap="StudentResultMap">
        SELECT *
        FROM student
    </select>

    <insert id="insertStudent" parameterType="com.xmu.cms.entity.Student">
        INSERT INTO student (account, password, email, student_name, is_active)
        VALUE (#{student.account}, #{student.password}, #{student.email}, #{student.name}, #{student.activation})
    </insert>


    <update id="updateStudentInfo">
        UPDATE student
        SET account      = #{student.account},
            email        = #{student.email},
            student_name = #{student.name}
        WHERE id = #{student.studentId}
    </update>

    <update id="updateStudentPassword">
        UPDATE student
        SET password = #{student.password}
        WHERE id = #{student.studentId}
    </update>

    <update id="updateStudent">
        UPDATE student
        SET account      = #{student.account},
            password     = #{student.password},
            email        = #{student.email},
            student_name = #{student.name},
            is_active    = #{student.activation}
        WHERE id = #{student.studentId}
    </update>


    <delete id="deleteStudent">
        DELETE
        FROM student
        WHERE id = #{studentId}
    </delete>

    <select id="getStudentByAccount" resultMap="StudentResultMap">
        SELECT *
        FROM student
        WHERE account = #{account}
    </select>

    <select id="getStudentById" resultMap="StudentResultMap">
        SELECT *
        FROM student
        WHERE id = #{studentId}
    </select>

    <select id="getStudentByName" resultMap="StudentResultMap">
        SELECT *
        FROM student
        WHERE student_name = #{name}
    </select>

    <select id="getMembersInTeam" resultMap="StudentResultMap">
        select *
        from student,
             team_student
        where team_student.team_id = #{teamId}
          and student.id = team_student.student_id
    </select>

    <select id="getNoTeamStudentInCourse" resultMap="StudentResultMap">
        select *
        from student,
             klass_student
        where klass_student.course_id = #{courseId}
          and id = klass_student.student_id
          and id not in
              (select team_student.student_id
               from team_student,
                    klass_student,
                    klass_team
               where klass_student.course_id = #{courseId}
                 and klass_team.klass_id = klass_student.klass_id
                 and team_student.team_id = klass_team.team_id)
    </select>

    <select id="getStudentInCourse" resultMap="StudentResultMap">
        select *
        from student,
             klass_student
        where student_id = student.id
          and klass_student.course_id = #{courseId}
    </select>

    <update id="activeStudent">
        UPDATE student
        SET password  = #{student.password},
            email     = #{student.email},
            is_active = true
        WHERE id = #{student.studentId}
    </update>

</mapper>