<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.TeacherMapper">
    <resultMap id="TeacherResultMap" type="com.xmu.cms.entity.Teacher">
        <id property="teacherId" column="id"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="name" column="teacher_name"/>
        <result property="activation" column="is_active"/>
    </resultMap>

    <select id="getAllTeachers" resultMap="TeacherResultMap">
        SELECT *
        FROM teacher
    </select>

    <update id="updateTeacher">
        UPDATE teacher
        SET account  = #{teacher.account},
            password     = #{teacher.password},
            email        = #{teacher.email},
            teacher_name = #{teacher.courseName},
            is_active    = #{teacher.activation}
        WHERE id = #{teacher.teacherId}
    </update>

    <insert id="insertTeacher">
        INSERT INTO teacher (account, password, email, teacher_name, is_active)
        VALUE (#{teacher.account}, #{teacher.password}, #{teacher.email}, #{teacher.courseName}, #{teacher.activation})
    </insert>

    <delete id="deleteTeacher" parameterType="java.lang.Integer">
        delete
        FROM teacher
        WHERE id = #{teacherId}
    </delete>

    <select id="getTeacherByAccount" resultMap="TeacherResultMap">
        SELECT *
        FROM teacher
        WHERE account = #{account}
    </select>

    <select id="getTeacherByName" resultMap="TeacherResultMap">
        SELECT *
        FROM teacher
        WHERE teacher_name = #{name}
    </select>

    <select id="getTeacherById" resultMap="TeacherResultMap">
        SELECT *
        FROM teacher
        WHERE id = #{teacherId}
    </select>

</mapper>