<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.dao.TeacherDao">

    <select id="getAllTeachers" resultType="com.xmu.cms.entity.Teacher">
        SELECT id           as teacherId,
               teacher_num  as account,
               password,
               email,
               name,
               phone,
               msg_interval as messageInterval,
               is_activated as activation
        FROM teacher
    </select>

    <update id="modifyTeacherByTeacherId">
        UPDATE teacher
        SET name        = #{name},
            teacher_num = #{account},
            email       = #{email}
        WHERE id = #{teacherId}
    </update>

    <update id="modifyTeacherPasswordByTeacherId">
        UPDATE teacher
        SET password = #{password}
        WHERE id = #{teacherId}
    </update>

    <insert id="newTeacher">
        INSERT INTO teacher (teacher_num, password, email, name, phone, msg_interval, is_activated)
        VALUE (#{account}, #{password}, #{email}, #{name}, #{phone}, #{messageInterval}, #{activation})
    </insert>

    <delete id="deleteTeacherByTeacherId" parameterType="java.lang.Integer">
        delete
        FROM teacher
        WHERE id = #{teacherId}
    </delete>

    <select id="getTeacherByAccount" resultType="com.xmu.cms.entity.Teacher">
        SELECT id           as teacherId,
               teacher_num  as account,
               password,
               email,
               name,
               phone,
               msg_interval as messageInterval,
               is_activated as activation
        FROM teacher
        WHERE teacher_num = #{account}
    </select>

    <select id="getTeacherByName" resultType="com.xmu.cms.entity.Teacher">
        SELECT id           as teacherId,
               teacher_num,
               password,
               email,
               name,
               phone,
               msg_interval as messageInterval,
               is_activated
        FROM teacher
        WHERE name = #{name}
    </select>

    <select id="getIdByAccount" resultType="java.lang.Integer">
        SELECT id as teacherId
        FROM teacher
        WHERE teacher_num = #{account}
    </select>

</mapper>