<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.dao.TeacherDao">
    <select id="getAllTeachers" resultType="com.xmu.cms.entity.Teacher">
        SELECT * from teacher
    </select>

    <update id="modifyTeacher" parameterType="com.xmu.cms.entity.Teacher">

    </update>

    <insert id="newTeacher" parameterType="com.xmu.cms.entity.Teacher">

    </insert>

    <delete id="deleteTeacher" parameterType="com.xmu.cms.entity.Teacher">

    </delete>
</mapper>