<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.TeamMapper">
    <resultMap id="TeamResultMap" type="com.xmu.cms.entity.Team">
        <id property="teamId" column="teamId" javaType="java.math.BigInteger"/>
        <result property="teamName" column="teamName" javaType="java.lang.String"/>
        <result property="valid" column="status" javaType="java.lang.Boolean"/>
        <association property="leader" javaType="com.xmu.cms.entity.Student">
            <id property="studentId" column="leaderId"/>
            <result property="name" column="leaderName"/>
        </association>
        <association property="klass" javaType="com.xmu.cms.entity.Klass">
            <id property="klassId" column="klassId"/>
            <!--<result property="grade" column="grade"/>-->
        </association>
        <association property="course" javaType="com.xmu.cms.entity.Course">
            <id property="courseId" column="courseId"/>
            <result property="courseName" column="courseName"/>
        </association>
    </resultMap>

    <select id="getAllTeamsInSeminar" resultMap="TeamResultMap">
        SELECT team.id              as teamId,
               team_name            as teamName,
               team.status          as status,
               klass.id             as klassId,
               klass.grade          as grade,
               leader_id            as leaderId,
               student.student_name as leaderName,
               course.id            as courseId,
               course.course_name   as courseName
        FROM team,
             attendance,
             klass,
             student,
             course,
             klass_seminar
        WHERE klass_seminar.seminar_id = #{seminarId}
          and klass_seminar.id = attendance.klass_seminar_id
          and team.id = attendance.team_id
          and team.klass_id = klass.id
          and team.leader_id = student.id
          and team.course_id = course.id
    </select>

    <select id="getAllTeamsInKlassSeminar" resultMap="TeamResultMap">
        SELECT team.id              as teamId,
               team_name            as teamName,
               team.status,
               klass.id             as klassId,
               klass.grade          as grade,
               leader_id            as leaderId,
               student.student_name as leaderName,
               course.id            as courseId,
               course.course_name   as courseName
        FROM team,
             attendance,
             klass,
             student,
             course
        WHERE team.id = attendance.team_id
          AND attendance.klass_seminar_id = #{klassSeminarId}
          and team.klass_id = klass.id
          and team.leader_id = student.id
          and team.course_id = course.id
    </select>

    <select id="getTeamByTeamId" resultMap="TeamResultMap">
        select team.id              as teamId,
               team_name            as teamName,
               team.status,
               klass.id             as klassId,
               klass.grade          as grade,
               leader_id            as leaderId,
               student.student_name as leaderName,
               course.id            as courseId,
               course.course_name   as courseName
        from team,
             attendance,
             klass,
             student,
             course
        where team.id = #{teamId}
          and attendance.team_id = team.id
          and team.klass_id = klass.id
          and team.leader_id = student.id
          and team.course_id = course.id
    </select>

    <select id="getStudentTeamInKlassSeminar" resultMap="TeamResultMap">
        select team.id              as teamId,
               team_name            as teamName,
               team.status,
               klass.id             as klassId,
               klass.grade          as grade,
               leader_id            as leaderId,
               student.student_name as leaderName,
               course.id            as courseId,
               course.course_name   as courseName
        from team,
             attendance,
             klass,
             student,
             course,
             klass_team,
             team_student,
             klass_seminar,
             klass_student
        where klass_seminar.id = #{klassSeminarId}
          and klass_seminar.klass_id = klass_team.klass_id
          and klass_team.team_id = team_student.team_id
          and team_student.student_id = #{studentId}
          and team.id = team_student.team_id
          and attendance.team_id = team.id
          and team.klass_id = klass.id
          and team.leader_id = student.id
          and team.course_id = course.id
    </select>

    <select id="getTeamInCourse" resultMap="TeamResultMap">
        select team.id              as teamId,
               team_name            as teamName,
               team.status,
               klass.id             as klassId,
               klass.grade          as grade,
               leader_id            as leaderId,
               student.student_name as leaderName,
               course.id            as courseId,
               course.course_name   as courseName
        from team,
             attendance,
             klass,
             student,
             course
        where team.course_id = #{courseId}
          and attendance.team_id = team.id
          and team.klass_id = klass.id
          and team.leader_id = student.id
          and team.course_id = course.id
    </select>

    <select id="getTeamInCourseByStudent" resultMap="TeamResultMap">
        select team.id              as teamId,
               team_name            as teamName,
               team.status,
               klass.id             as klassId,
               klass.grade          as grade,
               leader_id            as leaderId,
               student.student_name as leaderName,
               course.id            as courseId,
               course.course_name   as courseName
        from team,
             attendance,
             klass,
             student,
             course,
             klass_student,
             team_student,
             klass_team
        where klass_student.student_id = #{studentId}
          and klass_student.course_id = #{courseId}
          and team_student.student_id = #{studentId}
          and klass_team.team_id = team_student.team_id
          and klass_team.klass_id = klass_student.klass_id
          and team.id = klass_team.team_id
          and attendance.team_id = team.id
          and team.klass_id = klass.id
          and team.leader_id = student.id
          and team.course_id = course.id
    </select>

    <insert id="insertTeam">
        insert team (klass_id, course_id, leader_id, team_name, team_serial, status)
        values (#{klassId}, #{courseId}, #{studentId}, #{team.teamName}, #{team.teamSerial}, #{team.status})
    </insert>

    <update id="updateTeamValid" parameterType="com.xmu.cms.entity.Team">
        update team
        set status = #{team.status}
        where id = #{team.teamId}
    </update>

    <update id="setTeamName">
        update team
        set team_name = #{teamName}
        where id = #{teamId}
    </update>

    <update id="setKlass">
        update team
        set klass_id = #{klassId}
        where id = #{teamId}
    </update>

    <insert id="setMembers">
        insert team_student (team_id, student_id) VALUES (#{teamId}, #{studentId})
    </insert>

    <delete id="deleteTeamByTeamId">
        delete
        from team
        where id = #{teamId}
    </delete>

    <select id="getTeamByKlass" resultMap="TeamResultMap">
        select team.id              as teamId,
               team_name            as teamName,
               team.status,
               klass.id             as klassId,
               klass.grade          as grade,
               leader_id            as leaderId,
               student.student_name as leaderName,
               course.id            as courseId,
               course.course_name   as courseName
        from team,
             attendance,
             klass,
             student,
             course
        where team.klass_id = #{klassId}
          and team.leader_id = #{studentId}
          and attendance.team_id = team.id
          and team.klass_id = klass.id
          and team.leader_id = student.id
          and team.course_id = course.id
    </select>

    <select id="getTeamInKlassByStudentId" resultMap="TeamResultMap">
        select team.id              as teamId,
               team_name            as teamName,
               team.status,
               klass.id             as klassId,
               klass.grade          as grade,
               leader_id            as leaderId,
               student.student_name as leaderName,
               course.id            as courseId,
               course.course_name   as courseName
        from team,
             attendance,
             klass,
             student,
             course,
             klass_team,
             team_student
        where klass_team.klass_id = #{klassId}
          and team_student.student_id = #{studentId}
          and team_student.team_id = klass_team.team_id
          and team.id = team_student.team_id
          and attendance.team_id = team.id
          and team.klass_id = klass.id
          and team.leader_id = student.id
          and team.course_id = course.id
    </select>
</mapper>