<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.TeamMapper">
    <resultMap id="TeamResultMap" type="com.xmu.cms.entity.Team">
        <id property="teamId" column="teamId" javaType="java.math.BigInteger"/>
        <result property="teamName" column="teamName" javaType="java.lang.String"/>
        <result property="status" column="status" javaType="java.lang.Integer"/>
        <association property="leader" javaType="com.xmu.cms.entity.Student">
            <id property="studentId" column="leaderId"/>
            <result property="name" column="leaderName"/>
        </association>
        <association property="klass" javaType="com.xmu.cms.entity.Klass">
            <id property="klassId" column="klassId"/>
            <result property="grade" column="grade"/>
        </association>
        <association property="course" javaType="com.xmu.cms.entity.Course">
            <id property="courseId" column="courseId"/>
            <result property="courseName" column="courseName"/>
        </association>
    </resultMap>

    <select id="getAllTeamsInSeminar" resultMap="TeamResultMap">
        SELECT team.id              as teamId,
               team_name            as teamName,
               status,
               klass.id             as klassId,
               klass.grade          as grade,
               leader_id            as leaderId,
               student.student_name as leaderName,
               course.id            as courseId,
               course.course_name   as courseName
        FROM team,
             attendance,
             klass,
             student,
             course
        WHERE team.id = attendance.team_id
          AND attendance.klass_seminar_id = #{klassSeminarId}
          and team.klass_id = klass.id
          and team.leader_id = student.id
          and team.course_id = course.id
    </select>

    <insert id="newTeam">
        insert team (klass_id, course_id, leader_id, team_name, team_serial, status)
        values (#{classId}, #{courseId}, #{leaderId}, #{teamName}, #{teamSerial}, #{status})
    </insert>

    <update id="setValid">
        update team
        set status = #{status}
        where id = #{teamId}
    </update>

    <update id="setTeamName">
        update team
        set team_name = #{teamName}
        where id = #{teamId}
    </update>

    <update id="setKlass">
        update team
        set klass_id = #{klassId}
        where id = #{teamId}
    </update>

    <update id="setMembers">
        update klass_student
        set team_id = #{teamId}
        where student_id = #{studentId}
    </update>

    <delete id="deleteTeam">
        delete
        from team
        where id = #{teamId}
    </delete>
</mapper>