<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.TeamOrStrategyMapper">
    <resultMap id="TeamOrResultMap" type="com.xmu.cms.entity.strategy.TeamOrStrategy">
        <id property="strategyId" column="strategyId" javaType="java.math.BigInteger"/>
        <result property="subStrategyOneId" column="strategy_1_id"/>
        <result property="subStrategyOneName" column="strategy_1_name"/>
        <result property="subStrategyTwoId" column="strategy_2_id"/>
        <result property="subStrategyTwoName" column="strategy_2_name"/>
    </resultMap>

    <select id="getTeamOrStrategyById" resultMap="TeamOrResultMap">
        select *
        from team_or_strategy
        where team_or_strategy.id = #{strategyId}
    </select>

    <insert id="insertTeamOrStrategy" parameterType="com.xmu.cms.entity.strategy.TeamOrStrategy">
        <selectKey keyProperty="strategyId" order="AFTER" resultType="java.math.BigInteger">
            select last_insert_id()
        </selectKey>
        insert team_or_strategy (strategy_1_name, strategy_1_id, strategy_2_name, strategy_2_id)
        VALUES (#{strategy.subStrategyOneName}, #{strategy.subStrategyOneId}, #{strategy.subStrategyTwoName}, #{strategy.subStrategyTwoId})
    </insert>
</mapper>