<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.cms.mapper.TeamAndStrategyMapper">
    <resultMap id="TeamAndResultMap" type="com.xmu.cms.entity.strategy.TeamAndStrategy">
        <id property="strategyId" column="strategyId" javaType="java.math.BigInteger"/>
        <result property="subStrategyOneId" column="strategy_1_id"/>
        <result property="subStrategyOneName" column="strategy_1_name"/>
        <result property="subStrategyTwoId" column="strategy_2_id"/>
        <result property="subStrategyTwoName" column="strategy_2_name"/>
    </resultMap>

    <select id="getTeamAndStrategyById" resultMap="TeamAndResultMap">
        select *
        from team_and_strategy
        where team_and_strategy.id = #{strategyId}
    </select>

    <insert id="insertTeamAndStrategy" parameterType="com.xmu.cms.entity.strategy.TeamAndStrategy">
        insert team_and_strategy (strategy_1_name, strategy_1_id, strategy_2_name, strategy_2_id)
        VALUES (#{strategy.subStrategyOneName}, #{strategy.subStrategyOneId}, #{strategy.subStrategyTwoName}, #{strategy.subStrategyTwoId})
        <selectKey keyProperty="strategy.strategyId" order="AFTER" resultType="java.math.BigInteger">
            select last_insert_id()
        </selectKey>
    </insert>
</mapper>